.video {
  iframe {
    height: auto;
    border-radius: 20px;
  }
}
.video-text {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .video {
    iframe {
      height: 500px;
    }
  }
  .video-text {
    flex-wrap: nowrap;
    &:first-child {
      margin-right: 16px;
    }
  }
}