.video {
  iframe {
    height: auto;
    border-radius: 20px;
  }
}
.video-text {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .video {
    iframe {
      height: 500px;
    }
  }
  .video-text {
    flex-wrap: nowrap;
    justify-content: space-around;
    div {
      flex: 1;
    }
    &:first-child {
      margin-right: 24px;
    }
  }
}