@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: inherit;
    text-decoration: none;
  }

  header {
    background-color: white;
  }

  footer {
    background-color: #3DBFF0;
    border-radius: 20px 20px 0px 0px;
  }

  main {
    background: #F5F5F5;
  }

  .small-title {
    font-weight: 300;
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 22px;

    .small-title {
      font-weight: 300;
      font-size: 28px;
    }
  }
}

@media (max-width: 768px) {
  body {
    header {
      display: none;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

